
<ion-view>
  <ion-nav-bar>
        <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
        <link rel="stylesheet" href="css/circle.css">
        <ion-nav-title>
            Detail
        </ion-nav-title>

        <ion-nav-buttons side="left">
            <button class="button-icon ion-chevron-left" ng-click="btnBack()">Back</button>
         </ion-nav-buttons>






  </ion-nav-bar>
  <ion-content>

    <ion-slide-box show-pager="false" ion-slide-tabs>
      <ion-slide ion-slide-tab-label="test">
        <div class="item item-icon-left" ng-click="">
          <div class="row">
            <div class="col" align="middle" >
              <i class="icon ion-home"></i>
              <font face="verdana" color="green">hostname : {{data.basic.hostname}}</font>
            </div>
            <div class="col"><font size="4" color="blue">uptime :  {{data.basic.date}}</font></div>
          </div>
        </div>
        <div class="item item-icon-left" ng-click="btncluster('basic.voltage')" >
          <div class="pic" style="position:relative">
            <div class="ip" align="middle">
              <i class="ion-earth" style="font-size: 50px !important;"></i><br>
              192.168.12.2
            </div>
            <img src="img/line.png" height="10px" width="200px" style="">
            <i class="ion-wifi" style="font-size: 50px !important;"></i>
            <img src="img/line.png" height="10px" width="200px" style="">
          <div class="pic" style="position:relative">

            <i class="ion-iphone" style="font-size: 50px !important;"></i>
            </div>
         </div>
            <div class="row">
              <div class="col">Data</div>
              <div class="col"><i class="ion-ios-cloud-download"></i>{{data.network.eth0.rx_packet}}</div>
              <div class="col"><i class="ion-ios-cloud-upload"></i>{{data.network.eth0.tx_packet}}</div>
            </div>
              <div class="row">
              <div class="col">Speed</div>
              <div class="col"><i class="ion-ios-cloud-download"></i>{{data.network.eth0.rx_packet}} KB/s</div>
              <div class="col"><i class="ion-ios-cloud-upload"></i>{{data.network.eth0.tx_packet}} KB/s</div>
            </div>      <!-- <button class="button icon-right ion-home"></button> -->
        </div>
        <div>
          <!-- <canvas id="demo-3" style="demo"></canvas> -->
          <div class="progress">
           <div class="progress-bar progress-bar-success" role="progressbar" style="width:40%">
             Free Space
           </div>
           <div class="progress-bar progress-bar-warning" role="progressbar" style="width:10%">
             Used
           </div>
           <div class="progress-bar progress-bar-danger" role="progressbar" style="width:20%">
             Avail
           </div>
         </div>
        </div>
      </ion-slide>
        <!-- ###############################################  tab2   ############################################### -->
      <ion-slide ion-slide-tab-label="test">
       <img src="img/pi_model.png" style="margin-left: auto;margin-right: auto;display: block; padding:2em;">
       <div class="list list-inset card">
        <div class = "item item-divider">Basic</div>
        <div class="item item-icon-left" ng-click="btncluster('basic.hostname')">
          <i class="icon ion-home"></i>
          Name : {{data.basic.hostname}}
        </div>
        <div class="item item-icon-left" ng-click="btncluster('basic.date')">
          <i class="icon ion-home"></i>
          Date : {{data.basic.date}}
        </div>
        <div class="item item-icon-left" ng-click="btncluster('basic.distro_name')">
          <i class="icon ion-information-circled"></i>
          Distro : {{data.basic.distro_name}}
        </div>
        <div class="item item-icon-left" ng-click="btncluster('basic.kernel_version')">
          <i class="icon ion-information-circled"></i>
          Kernel version : {{data.basic.kernel_version}}
        </div>
        <div class="item item-icon-left" ng-click="btncluster('basic.machine')">
          <i class="icon ion-information-circled"></i>
          Machine : {{data.basic.machine}}
        </div>
        <div class="item item-icon-left" ng-click="btncluster('basic.temperature')">
          <i class="icon ion-iphone"></i>
          <div class="progress">
            <div ng-if="data.basic.temperature<30">
              <div class="progress-bar progress-bar-success progress-bar-striped active" role="progressbar"
              aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width:{{data.basic.temperature}}%">
              {{data.basic.temperature}} C
              </div>
            </div>
            <div ng-if="data.basic.temperature>30 && data.basic.temperature<60">
              <div class="progress-bar progress-bar-warning progress-bar-striped active" role="progressbar"
              aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width:{{data.basic.temperature}}%">
              {{data.basic.temperature}} C
              </div>
            </div>
            <div ng-if="data.basic.temperature>60">
              <div class="progress-bar progress-bar-danger progress-bar-striped active" role="progressbar"
              aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width:{{data.basic.temperature}}%">
              {{data.basic.temperature}} C (danger)
              </div>
            </div>

        </div>
      </div>
          <div class="item item-icon-left" ng-click="btncluster('basic.voltage')">
            <i class="icon ion-information-circled"></i>
            Voltage : {{data.basic.voltage}}
          <!-- <button class="button icon-right ion-home"></button> -->
          </div>

      </div>
      <div >
      <!-- <canvas id="demo-3" style="demo"></canvas>ss -->


    </div>
        <!-- <div class="col">f
             <a class="button button-icon icon ion-android-warning" ng-click="btncalert('basic.voltage')"></a>
        </div> -->
    </ion-slide>

    <!-- ###############################################  tab3   ############################################### -->
    <ion-slide ion-slide-tab-label="secondTest">
      <div class = "item item-divider">Network</div>
      <div class="item item-icon-left">
        <i class="icon ion-earth"></i>
        IP : {{data.network.eth0.ip}}
      </div>
      <div class="item item-icon-left">
        <i class="icon ion-earth"></i>
        IP loopback : {{data.network.eth0.ip_loopback}}
      </div>

      <div class="item item-icon-left">
        <i class="icon ion-earth"></i>
        Broadcost : {{data.network.eth0.bcast}}
      </div>
      <div class="item item-icon-left">
        <i class="icon ion-earth"></i>
        Subnetmask: {{data.network.eth0.sub}}
      </div>
      <div class="item item-icon-left">
        <i class="icon ion-earth"></i>
        MAC : {{data.network.eth0.mac}}
      </div>
      <div class="item item-icon-left">
        <i class="icon ion-earth"></i>
        RX packet : {{data.network.eth0.rx_packet}}
      </div>
      <div class="item item-icon-left">
        <i class="icon ion-earth"></i>
        TX packet {{data.network.eth0.tx_packet}}
      </div>
      <div class="item item-icon-left">
        <i class="icon ion-earth"></i>
        RX bytes : {{data.network.eth0.rx_bytes}}
      </div>
      <div class="item item-icon-left">
        <i class="icon ion-earth"></i>
        TX bytes: {{data.network.eth0.tx_bytes}}
      </div>
      <div class="item item-icon-left">
        <i class="icon ion-earth"></i>
        <div class="container">RAM
          <div class="progress">
            <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width:{{data.network.eth0.rx_packet/10000*100}}%">
              {{data.network.eth0.rx_packet/10000*100}}%
            </div>
          </div>
        </div>
      </div>
      <div class="c100 p15 ">
        <span>15%</span>
        <div class="slice">
          <div class="bar"></div>
          <div class="fill"></div>
        </div>
      </div>

    </ion-slide>
    <!-- ###############################################  tab4   ############################################### -->
    <ion-slide ion-slide-tab-label="<b>boldTest</b>"><h1>Tab 3</h1></ion-slide>
  </ion-slide-box>










<button class="button button-full" ng-click="btnCall()">OK</button>
</ion-content>


</ion-view>
