<ion-view>
  <ion-nav-bar>
        <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
        <link rel="stylesheet" href="css/circle.css">
        <ion-nav-title>
            Detail
        </ion-nav-title>

        <ion-nav-buttons side="left">
            <button class="button-icon ion-chevron-left" ng-click="btnBack()">Back</button>
         </ion-nav-buttons>

  </ion-nav-bar>
  <ion-content>

    <ion-slide-box show-pager="false" ion-slide-tabs>
      <ion-slide ion-slide-tab-label="test"> 
       <img src="img/pi_model.png" style="margin-left: auto;margin-right: auto;display: block; padding:2em;">
       <div class="list list-inset card">
        <div class = "item item-divider">Basic</div>
        <div class="item item-icon-left" ng-click="btncluster('basic.hostname')">
          <i class="icon ion-home"></i>
          Name : {{data.basic.hostname}}
        </div>

        <div class="item item-icon-left" ng-click="btncluster('basic.date')">
          <i class="icon ion-home"></i>
          Date : {{data.basic.date}}



        </div>
        <div class="item item-icon-left" ng-click="btncluster('basic.distro_name')">
          <i class="icon ion-information-circled"></i>
          Distro : {{data.basic.distro_name}}
        </div>

        <div class="item item-icon-left" ng-click="btncluster('basic.kernel_version')">
          <i class="icon ion-information-circled"></i>
          Kernel version : {{data.basic.kernel_version}}
        </div>
        <div class="item item-icon-left" ng-click="btncluster('basic.machine')">
          <i class="icon ion-information-circled"></i>
          Machine : {{data.basic.machine}}
        </div>
        <div class="item item-icon-left" ng-click="btncluster('basic.temperature')">
          <i class="icon ion-iphone"></i>
          <div class="progress">
            <div ng-if="data.basic.temperature<30">
              <div class="progress-bar progress-bar-success progress-bar-striped active" role="progressbar"
              aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width:{{data.basic.temperature}}%">
              {{data.basic.temperature}} C 
              </div>
            </div>
            <div ng-if="data.basic.temperature>30 && data.basic.temperature<60">
              <div class="progress-bar progress-bar-warning progress-bar-striped active" role="progressbar"
              aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width:{{data.basic.temperature}}%">
              {{data.basic.temperature}} C
              </div>
            </div>
            <div ng-if="data.basic.temperature>60">
              <div class="progress-bar progress-bar-danger progress-bar-striped active" role="progressbar"
              aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width:{{data.basic.temperature}}%">
              {{data.basic.temperature}} C (danger)
              </div>
            </div>


         
        
        </div>
      </div>
      <div class="row">
        <div class="col col-75">
          <div class="item item-icon-left" ng-click="btncluster('basic.voltage')">
            <i class="icon ion-information-circled"></i>
            Voltage : {{data.basic.voltage}}
          <!-- <button class="button icon-right ion-home"></button> -->
         </div>
        </div>

        <div class="col">
             <a class="button button-icon icon ion-android-warning" ng-click="btncalert('basic.voltage')"></a>
        </div>
     </div>
   </div>
</div>
    </ion-slide>
    <ion-slide ion-slide-tab-label="secondTest"> 
      <div class = "item item-divider">Network</div>
      <div class="item item-icon-left">
        <i class="icon ion-earth"></i>
        IP : {{data.network.eth0.ip}} 
      </div>
      <div class="item item-icon-left">
        <i class="icon ion-earth"></i>
        IP loopback : {{data.network.eth0.ip_loopback}} 
      </div>

      <div class="item item-icon-left">
        <i class="icon ion-earth"></i>
        Broadcost : {{data.network.eth0.bcast}} 
      </div>
      <div class="item item-icon-left">
        <i class="icon ion-earth"></i>
        Subnetmask: {{data.network.eth0.sub}}
      </div>
      <div class="item item-icon-left">
        <i class="icon ion-earth"></i>
        MAC : {{data.network.eth0.mac}} 
      </div>
      <div class="item item-icon-left">
        <i class="icon ion-earth"></i>
        RX packet : {{data.network.eth0.rx_packet}} 
      </div>
      <div class="item item-icon-left">
        <i class="icon ion-earth"></i>
        TX packet {{data.network.eth0.tx_packet}}
      </div>
      <div class="item item-icon-left">
        <i class="icon ion-earth"></i>
        RX bytes : {{data.network.eth0.rx_bytes}} 
      </div>
      <div class="item item-icon-left">
        <i class="icon ion-earth"></i>
        TX bytes: {{data.network.eth0.tx_bytes}}
      </div>
      <div class="item item-icon-left">
        <i class="icon ion-earth"></i>
        
<div class="container">RAM
  <div class="progress">
    <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width:{{data.network.eth0.rx_packet/10000*100}}%">
      {{data.network.eth0.rx_packet/10000*100}}%
    </div>
  </div>
</div>



      </div>
  <div class="c100 p15 ">
    <span>15%</span>
    <div class="slice">
      <div class="bar"></div>
      <div class="fill"></div>
    </div>
  </div>
          <div>
                      <canvas id="canvas" width="400" height="400" style="background-color:#333">
          </canvas>
          </div>
    </ion-slide>
    <ion-slide ion-slide-tab-label="<b>boldTest</b>"><h1>Tab 3</h1></ion-slide>
  </ion-slide-box>



  






<button class="button button-full" ng-click="btnCall()">OK</button>
</ion-content>


</ion-view>
